.navlinks {
  display: flex;
  align-items: center;
  padding: 0;
  }
.navlinks a{
  text-decoration: none;
  color: black;
  
}

@media (max-width: 900px) {
  .navlinks {
    display: none;
  }

  .active {
    display: flex;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    background: #034382;
    padding: 20px 0;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
  }
}
